@import "./style-head.css";
@import "./style-main.css";
@import "./style-footer.css";

:root{
    --white:  #faf9f6;
    --blue: #4a6274;
    --gray: #ebeae8;
    --black: #28282b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
color: var(--black);
background-color: var(--gray);
min-height: 100vh;
}
